<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ service ? 'Editar' : 'Novo' }} Serviço</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome do Serviço</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-textarea formControlName="description" rows="3"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Categoria</ion-label>
        <ion-select formControlName="category">
          <ion-select-option *ngFor="let cat of categories" [value]="cat.value">
            {{ cat.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Preço (R$)</ion-label>
        <ion-input formControlName="price" type="number" min="0" step="0.01"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Duração (minutos)</ion-label>
        <ion-input formControlName="duration" type="number" min="1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">URL da Imagem</ion-label>
        <ion-input formControlName="image" type="url"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Disponível</ion-label>
        <ion-toggle formControlName="available"></ion-toggle>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="!form.valid">
        Salvar
      </ion-button>
    </div>
  </form>
</ion-content> 