<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ barber ? 'Editar Barbeiro' : 'Novo Barbeiro' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="barberForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Digite o nome completo"></ion-input>
    </ion-item>
    @if (barberForm.get('name')?.touched && barberForm.get('name')?.errors) {
      <ion-note color="danger">{{ getErrorMessage('name') }}</ion-note>
    }

    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input 
        formControlName="phone" 
        type="tel" 
        placeholder="(00) 00000-0000"
        maxlength="11"
      ></ion-input>
    </ion-item>
    @if (barberForm.get('phone')?.touched && barberForm.get('phone')?.errors) {
      <ion-note color="danger">{{ getErrorMessage('phone') }}</ion-note>
    }

    <ion-item>
      <ion-label position="stacked">Especialidades</ion-label>
      <ion-select 
        formControlName="specialties" 
        multiple="true" 
        placeholder="Selecione as especialidades"
      >
        @for (specialty of specialties; track specialty) {
          <ion-select-option [value]="specialty">{{ specialty }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    @if (barberForm.get('specialties')?.touched && barberForm.get('specialties')?.errors) {
      <ion-note color="danger">{{ getErrorMessage('specialties') }}</ion-note>
    }

    <ion-item>
      <ion-label position="stacked">Anos de Experiência</ion-label>
      <ion-input 
        formControlName="experience" 
        type="number" 
        min="0" 
        max="100"
      ></ion-input>
    </ion-item>
    @if (barberForm.get('experience')?.touched && barberForm.get('experience')?.errors) {
      <ion-note color="danger">{{ getErrorMessage('experience') }}</ion-note>
    }

    <ion-item>
      <ion-label>Ativo</ion-label>
      <ion-toggle formControlName="active"></ion-toggle>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="barberForm.invalid">
        {{ barber ? 'Salvar' : 'Cadastrar' }}
      </ion-button>
    </div>
  </form>
</ion-content> 