ion-content {
  --padding-top: 2rem;
  --padding-bottom: 2rem;
  margin-left: 20px;

}

form {
  ion-item {
    --padding-start: 0;
    margin-bottom: 1rem;
  }

  ion-note {
    margin-left: 1rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    display: block;
  }

  ion-datetime {
    width: 100%;
  }
  ion-label{
    margin-left: 1rem;
    margin-bottom: 1rem;
    --padding: 16px;
  }

  .ion-padding {
    margin-top: 2rem;
  }
}
